*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'chopsic';
    src: url(/assets/fonts/Chopsic.ttf.otf);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    font-size:  2.5rem;
    font-family: 'chopsic';
    text-align: center;
    justify-content: center;
}
.product{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-items{
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: auto;
    box-shadow: 1px 1px 3px gray;

}
.image-contain{
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: center;
}
.image{
    align-items: center;
    height:auto;
    width:100px;
    /* object-fit: cover; */
    justify-content: center;
}
.topic{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.gram{
    padding-top: 0;
    text-align: center;
    font-weight: lighter;
    color: grey;
    padding-bottom: 20px;
} 

.text{
    text-align: center;
    font-family:'Gill Sans MT';
    color: green; 
    padding-bottom: 20px;
}
.price{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0; 
}
.high-price{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px; 
}
.buy1{
    padding:0.3rem;
    display: flex;
    justify-content: flex-end;
}
.buy{
    background-color: rgb(29, 232, 29);
    color: antiquewhite;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin-right: 0;
    border: none;
    cursor: pointer;   
}
@media screen and (max-width:500px) {
    .heading{
        font-size: 1rem;
        color: #7d0404;
    } 
    *{
        background-color: #e0e9a9;
    } 
}